body{
    background-color: rgb(54, 50, 50);
}
.home{
    display: flex;
}

.btn-custom{
  background-color: #557a95 !important;
  border: none !important;
}

.btn-custom-red{
  background-color: rgb(195, 49, 49);
}

/*right side product display  */
.productContainer{
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* left side search filters */
.filters {
    background-color: #938e94;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh;
  }
  
.filters > span {
    padding-bottom: 20px;
  }
  
.title {
    font-size: 30px;
  }

.products{
    width: 30%;
    margin: 10px;
  }
  /* header styles */

.navBar{
  /* background-color: #05386B ; */
  background-color: #5d5c61;
}
.header {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}


/* cart page */

.summary{
  width:30%;
}

